<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- Tag Library Declaration for JSTL Core -->
<!--    <taglib>-->
<!--        <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>-->
<!--        <taglib-location>/target/koty-webapp-0.0.1-SNAPSHOT/WEB-INF/lib/jstl-1.2.jar</taglib-location>-->
<!--    </taglib>-->

<!--    <taglib>-->
<!--        <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>-->
<!--        <taglib-location>/target/koty-webapp-0.0.1-SNAPSHOT/WEB-INF/lib/jstl-1.2.jar</taglib-location>-->
<!--    </taglib>-->
<!--    <taglib>-->
<!--        <taglib-uri>/WEB-INF/tlds/core.tld</taglib-uri>-->
<!--        <taglib-location>/WEB-INF/lib/jstl-1.2.jar</taglib-location>-->
<!--    </taglib>-->
<!--<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"-->
<!--         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--         xsi:schemaLocation="http://jakarta.ee/xml/ns/javaee-->
<!--                             http://jakarta.ee/xml/ns/javaee/web-app_6_1.xsd"-->
<!--         version="6.1">-->

<display-name>Baza danych kotow</display-name>
    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/applicationContext.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>modificationTestInterval</param-name>
            <param-value>0</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>
    <!-- Opcjonalnie, konfiguracja dla JSTL -->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
</web-app>